@model MovieDetailsVM
@{
    ViewData["Title"] = "Details Page";

}
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="~/img/customer/movies/@Model.Movie.ImgUrl" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: @Model.Movie.MoviesId</div>
                <h1 class="display-5 fw-bolder">@Model.Movie.Name</h1>
                <div class="fs-5 mb-5">                    
                    <span>$@Model.Movie.Price</span>
                </div>
                <p class="lead">@Model.Movie.Description</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
                <div class="col-md-6">
                    <iframe width="560" height="315"
                            src="@Model.Movie.TrailerUrl"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                </div>
                @* <div class="col-md-6">
                    <video width="320" height="240" controls>
                        <source src="@Model.Movie.TrailerUrl">
                    </video>
                </div> *@
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var item in Model.SimilarMovies)
            {
                <div class="col mb-5">
                    <div class="card h-100">

                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        <!-- Sale badge-->
                        <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; left: 0.5rem">@item.Category.Name</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="~/img/customer/movies/@item.ImgUrl" alt="@item.ImgUrl" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@item.Name</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">@(item.Price * 1.2)</span>
                                @item.Price
                            </div>
                            <div>
                                <!-- Product Start Date/End Date-->
                            </div>
                            <h5 class="text-muted text-decoration">@item.StartDate</h5>
                            <h5 class="text-muted text-decoration">@item.EndDate</h5>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/customer/home/moviedetails/@item.MoviesId">More Details</a></div>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</section>